.container {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*align-items: center;*/
}

.card {
	width: 250px;
	border-radius: 10px;
	background-color: white;
	margin: 20px;
	color: black;
	padding: 20px 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.cardRow {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	align-items: center;

}

.cardRowCancel {
	color: red;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
	width: 50px;
        display: flex;
	justify-content: center;
	align-items: center;
		
}



.cardRowAvatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
	/*background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);*/
}

.cardQuote {
        text-align: center;
        font-style: italic;
	font-family: Poppins;
	font-weight: bold;
}

.cardName {
	font-weight: bold;
	margin: 30px 0;
	color: #28313b;
	font-family: Poppins;
	color: #fff;
	background-color: #485461;                        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
	padding: 0 5px 0 5px;
	border-radius: 4px;
}

.cardTime {
	font-size: 13px;
	font-weight: bold;
}
